/* POSITIONS */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inline-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.inline-right {
    text-align: right;
}

/* BACKGROUND COLORS */
.background-black {
    background-color: #000000;
}

.text-white {
    color: #ffffff;
}

/* ELEMENTS */
* {
    user-select: none;
}

/* CUSTOM CLASSES */
.box-round {
    border-radius: 5px;
}

.box-small {
    width: 35vw;
    height: 70vh;
    padding-top: 1vh;
}

.logo {
    width: 6vw;
    height: 12vh;
}