/* POSITIONS */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inline-center {
    text-align: center;
}

.inline-right {
    text-align: right;
}

/* BACKGROUND COLORS */
.background-black {
    background-color: #000000;
}

.text-white {
    color: #ffffff !important;
}

/* ELEMENTS */
* {
    user-select: none;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

button {
    border : 1px solid #000000 !important;
}

/* CUSTOM CLASSES */
.box-round {
    border-radius: 5px;
}

.box-small {
    width: 35vw;
    height: 70vh;
    padding-top: 1vh;
}

.col-title {
    width: 20% !important;
}

.col-title-large {
    width: 23% !important;
}

.col-input {
    width: 80% !important;
}

.dashboard-logo {
    width: 4vw;
    height: 8vh;
}

.logo {
    width: 6vw;
    height: 12vh;
}

.error {
    color: red !important;
}

.update-image-display {
    width: 125px;
    height: 100px;
    border-radius: 5px;
}

/* IDs */
#login {
    height: 60vh !important;
}